*, *::before, *::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body {
   background: darkgrey;
   font-size: 2rem;
}
.container {
    height: 25vh;
    display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 25vw;
	flex-wrap: wrap;
}
